/*This is for everything*/
* {
  	box-sizing: border-box;
  	margin: 0;
  	padding: 0;
  	color: #000000;
  	justify-content: space-around;
 	  font-family: Arial, Helvetica, sans-serif;
}

.container{
  min-width: 150px;
}

.container2{
  min-width: 150px;
}

/*This is for certain things such as header, body, any p tags and h1*/
.hero_tag header {
	display: flex;
	background-color: #1320A0;
	border-radius: 10px 10px 10px 10px;
	color: #ddd;
  font-size: 95%;
  padding: 15px;
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 1rem;

}

body {
	display: flex;
  	text-decoration: none;
  	background-color: #7680E2;
  	padding: 10px;
  	margin-top: 10px;  	
}

p {
	display: flex;
	text-decoration: none;
	background-color: #7680E2;
	text-align: center;
	padding: 1px;
	justify-content: space-around;
	margin-top: 10px;	
}

h1 {
  	color: #FFFFFF;
  	padding: 11px;
}

/*This is for everything in section 1, name-graf and image, including phone and email*/
.name_graf p{
	padding: 15px;
	background-color: #7680E2;
	justify-content: space-around;
	text-align: center;
	margin-top: 10px;
	border-color: #5A5B66;
}

.name_graf nav ul li{
  text-decoration: none;
  text-align: center;
  background-color: #888993;
  border-color: #5A5B66;

}

.name_image img{
	background-color: #888993;
	border-color: #5A5B66;
}

.phone{
	background-color: #888993;
}

.email{
	background-color: #888993;
}

.page2link{
  background-color: #888993;
  border-color: #5A5B66;
}

/*This is for everything in section 2*/
.progoals p{
	color: #000000;
}

/*This is for everything in section 3*/
.linkedin{
	background-color: #888993;
	border-color: #5A5B66;
}

.codepen{
	background-color: #888993;
	border-color: #5A5B66;
}

.github{
	background-color: #888993;
	border-color: #5A5B66;
}

/*This is for everything in section 4*/
.javainfo{
	background-color: #888993;
	border-color: #5A5B66;
}

.htmlinfo{
	background-color: #888993;
	border-color: #5A5B66;
}

.flexboxinfo{
	background-color: #888993;
	border-color: #5A5B66;
}

.githubinfo{
	background-color: #888993;
	border-color: #5A5B66;
}

.mvcspringinfo{
	background-color: #888993;
	border-color: #5A5B66;
}

.projects img{
	border-color: #5A5B66;
}

/*This is for everything in section 5, projects*/
.section_5_Projects{
  background-color: #888993;
  border-color: #5A5B66;
}

.projects{
  background-color: #888993;
  border-color: #5A5B66;
}

/*This is for everything related to hovers and links*/
a:hover {
  background-color: #757FE4;
}

a:active{
  background-color: #757FE4;
}

/*This is for everything in footers and final sections*/
footer{
  background-color: #1320A0;
  border-radius: 10px 10px 10px 10px;
  color: ##ddd;
  display: flex;
  font-size: 140%;
  text-align: center;
  padding: 20px;
}
small{
  color: #ffffff;
}


/*This section is for new things added as of 10/26 */

/* Slideshow container */
.slideshow-container {
  max-width: 600px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: ##3f4349;
  font-size: 14px;
  padding: 10px 10px;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  margin: 20px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  text-align: center;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  margin-left: 2rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Add a black background color to the top navigation link */
.topnav {
    background-color: #99A2B5;
    overflow: hidden;
    border-radius: 11px;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #ffffff;
    background-color: #99A2B5;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 11px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #7680E2;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #7680E2;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover{
  background-color: #848B96;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}


/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color:#888993;
  color: #DDDDDD;
  cursor: pointer;
  padding: 12px;
  width: 100%;
  text-align: center;
  outline: none;
  font-size: 16px;
  border-radius: 11px;
  border: 1px solid #fff;
  border-color: #5A5B66;
  margin: auto;
  position: relative;
 
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 15px 15px 15px 10px;
  color: #FFFFFF;
  border-radius: 14px;
  text-align: center;
  display: none;
  overflow: visible;
  background-color: #888993;
}